mixin campaignItem()
    .col-md-6
        a(href="kampanya-detay.html")
            .car-item.campaign
                figure.img
                    img(src="https://place-hold.it/583x263")

                h4.name Bugün Günlerden Volkswagen
                p ÖTV indirimine ek passat ve Tiguan’larda indirim
