mixin carItem(col)
    div(class= col ? "col-md-"+col : "col-md-3")
        a(href="arac-detay.html")
            .car-item
                figure.img
                    img(src="https://place-hold.it/244x159")

                h4.name 2018 BMW 2 Serisi 218i 1.5 Cabrio asdfasdf asdfasdf
                p.old-price 350.000 TL
                p.new-price 258.500 TL
