mixin carItem(col)
    div(class= col ? "col-md-"+col : "col-md-3")
        a(href="arac-detay.html")
            .car-item
                figure.img
                    img(src="https://place-hold.it/244x159")

                h4.name 2018 BMW 2 Serisi 218i 1.5 Cabrio asdfasdf asdfasdf

                ul.spec
                    .row
                        .col-xs-5.key Model Yılı:
                        .col-xs-7.value Deneme
                        .col-xs-5.key KM:
                        .col-xs-7.value 10.000
                        .col-xs-5.key Vites:
                        .col-xs-7.value Otomatik
                        .col-xs-5.key Yakıt:
                        .col-xs-7.value Dizel
                span.gallery-name EMRH OTO - İSTANBUL
                p.new-price 258.500 TL
