.col-md-3.filter-box.ikinci-el-filter
    .block.filter-item
        h3.title.title--7 MARKA
        .input
            i.fa.fa-search
            input(type="text", placeholder="Marka Ara")
        .search-list(data-open="marka")
            - var marka = ['Audi', 'BMV', 'Honda', 'Ford']
            -for (var i in marka)
                label.checkbox-label-30(val=marka[i])
                    .checkbox.checkbox-20
                        input(type="checkbox", name="marka", value=marka[i], checked="checked")
                        span
                    p= marka[i]
                label.checkbox-label-30(val=marka[i])
                    .checkbox.checkbox-20
                        input(type="checkbox", name="marka", value=marka[i])
                        span
                    p= marka[i]
        a.link(href="#", data-toggle="marka", data-open-text="+ Daha Fazla Göster", data-close-text="- Daha Az Göster") + Daha Fazla Göster

    .block.filter-item
        h3.title.title--7 MODEL
        .input
            i.fa.fa-search
            input(type="text", placeholder="Model Ara")
        .search-list(data-open="model")
            - var model = ['A3', 'A4', 'A5', 'A6']
            -for (var i in model)
                label.checkbox-label-30(val=model[i], marka="audi")
                    .checkbox.checkbox-20
                        input(type="checkbox", name="model", value=model[i])
                        span
                    p= model[i]
                label.checkbox-label-30(val=model[i], marka="ford")
                    .checkbox.checkbox-20
                        input(type="checkbox", name="model", value=model[i])
                        span
                    p= model[i]
        a.link(href="#", data-toggle="model", data-open-text="+ Daha Fazla Göster", data-close-text="- Daha Az Göster") + Daha Fazla Göster

    .block.filter-item
        h3.title.title--7 DONANIM
        - var yakit = ['Benzin', 'Hibrit', 'Dizel', 'LPG']
        .search-list
            -for (var i in yakit)
                label.checkbox-label-30
                    .checkbox.checkbox-20
                        input(type="checkbox", name="yakit-turu", value=yakit[i])
                        span
                    p= yakit[i]

    .block.filter-item.active
        h3.title.title--7 VİTES TİPİ
        - var vites = ['Düz', 'Otomatik']
        .search-list
            -for (var i in vites)
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="vites-turu", value=vites[i])
                    span
                p= vites[i]

    .block.filter-item.active
        h3.title.title--7 YAKIT TİPİ
        - var yakit = ['Benzin', 'Hibrit', 'Dizel', 'LPG']
        .search-list
            -for (var i in yakit)
                label.checkbox-label-30
                    .checkbox.checkbox-20
                        input(type="checkbox", name="yakit-turu", value=yakit[i])
                        span
                    p= yakit[i]

    .block.filter-item.active
        h3.title.title--7 MODEL YILI
        .row
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Minimum", name="model-min")
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Maximum", name="model-max")

    .block.filter-item.active
        h3.title.title--7 KM
        .row
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Minimum", name="model-min")
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Maximum", name="model-max")

    .block.filter-item.active
        h3.title.title--7 FİYAT
        .row
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Minimum", name="model-min")
            .col-xs-6
                input.input-box.custom-mask(type="text", placeholder="Maximum", name="model-max")

    .block.filter-item
        h3.title.title--7 KASA TİPİ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 RENK
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 ÇEKİŞ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 MOTOR HACMİ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 MOTOR GÜCÜ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 GARANTİ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 İLAN SAHİBİ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="checkbox", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 İLAN TARİHİ
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p a

    .block.filter-item
        h3.title.title--7 FOTOĞRAFLI İLANLAR
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p EVET
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p HAYIR

    .block.filter-item
        h3.title.title--7 VİDEOLU İLANLAR
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p EVET
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p HAYIR

    .block.filter-item
        h3.title.title--7 GÖRÜNTÜLÜ ARAMAYA UYGUN
        .search-list
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p EVET
            label.checkbox-label-30
                .checkbox.checkbox-20
                    input(type="radio", name="yakit-turu", value='A')
                    span
                p HAYIR

    .block.filter-item
        h3.title.title--7 BOYA DEĞİŞEN PARÇA
        - var siralama = ['Popülariteye Göre', 'Fiyat Artan', 'Fiyat Azalan']
        .search-list
            -for (var i in siralama)
                label.checkbox-label-30
                    .checkbox.checkbox-20
                        input(type="radio", name="sort-by", value=siralama[i])
                        span
                    p= siralama[i]

    .block.filter-item
        h3.title.title--7 PLAKA/UYRUK
        - var siralama = ['Popülariteye Göre', 'Fiyat Artan', 'Fiyat Azalan']
        .search-list
            -for (var i in siralama)
                label.checkbox-label-30
                    .checkbox.checkbox-20
                        input(type="radio", name="sort-by", value=siralama[i])
                        span
                    p= siralama[i]

    .block.filter-item
        h3.title.title--7 FIRSATLAR
        - var siralama = ['Düşük KM', 'Acil Satılık', 'Hatasız']
        .search-list
            -for (var i in siralama)
                label.checkbox-label-30
                    .checkbox.checkbox-20
                        input(type="radio", name="sort-by", value=siralama[i])
                        span
                    p= siralama[i]

    a.button.button--primary(href="#" id="lets-search") Ara
