mixin postItem(col)
    div(class=col ? "col-md-" + col : "col-md-6")
        .post-item
            figure.img
                img(src="https://place-hold.it/460x285")

            h4.title.title--2 2018 yılında en çok satan otomobiller
            p.counts
                span
                    img(src=prefix + "img/svg/icon-view-grey.svg")
                    | 125
                span
                    img(src=prefix + "img/svg/icon-like-grey.svg")
                    | 125

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutru…

            a.link(href="blog-detay.html") Devamını oku
                i.fa.fa-angle-right
