mixin requestItem()
    .col-md-6
        .request-item
            .row
                figure.col-md-5.img
                    img(src="https://place-hold.it/583x263")
                .col-md-7
                    h4.name Bugün Günlerden Volkswagen

                .col-md-12.item-footer
                    - var i = Math.floor(Math.random() * 2);
                    .status Durum:
                        if (i === 2)
                            b.waiting Yanıt Bekleniyor
                        else
                            b.done Teklif Verildi

                    if (i !== 2)
                        a.right(href="talep-detay.html") Teklifleri İncele
                            i.fa.fa-angle-right
                    else
                        .right Oluşturma Tarihi: 16.12.2018
