extends layout/layout

block head
    - var title = "bensizalma.com";
    - var description = "Anasayfa description";
    - var keywords = "Anasayfa keywords";

block content
    .subpage-container.centerfix
        .container
            .row
                .col-md-12.title-wrapper
                    h1.title.title--1 KAMPANYALAR


                .content-wrapper
                    .campaign-list
                        include components/campaign-item
                        +campaignItem()
                        +campaignItem()
                        +campaignItem()
                        +campaignItem()
                        +campaignItem()
                        +campaignItem()