extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.content-padding
		.container
			.row
				.product-wrapper
					.col-xs-12.col-md-7.product-image.flexslider.no-control-nav.no-direction
						.row
							.slides
								-for(var i=0; i< 3; i++)
									li
										img(src="https://place-hold.it/764x500")

					.col-xs-12.col-md-5.product-info
						h1.centerfix.title.title--2 2018 BMW 2 Serisi 218i 1.5 Cabrio

						span.centerfix.old-price 350.000 TL
						span.centerfix.new-price 258.500 TL

						p.lets-buy Talep oluşturun, fırsatlı teklifler alın!
						a.button.button--primary(href="#talep-olustur") Talep Oluştur


				.product-wrapper
					h3.title.title--5 Diğer Model Seçenekleri ve Fiyatlar

					ul.spec-list
						-for(var i = 0; i<5; i++)
							li
								div
									.checkbox.checkbox-30
										input(type="checkbox", name="agreement" data-rule-required="true")
										span
								div 2018 BMW 2 Serisi 218i 1.5 Coupe
								div Otomatik Vites, Benzin
								div 185.700 TL

	<!-- TALEP OLUŞTUR POPUP -->
	.hidden
		.modal#talep-olustur
			h1.modal-title Talep Oluştur
			p Talebinizi oluşturduktan sonra 'Taleplerim' bölümünden alınan fiyatları takibe başlayabilirsiniz. Tüm bayilerden alınan teklifler ve iletişim bilgileri 1-3 iş günü içerisinde paylaşılacaktır.
			form.request-form.validate-form(data-redirect="#istek-basarili")
				.form-item
					input(type="text", value="1 Adet")
				.form-item.select-item
					select
						option(value="") Renk
						option(value="1") Kırmızı
						option(value="") Mor
						option(value="") Siyah
						option(value="") Kahverengi

				.form-item
					textarea(placeholder="Başka renk talebiniz varsa bildirin, \nBelirtmek istediğiniz hususlar varsa yazın, \nÖzel İndirim Koşulu var ise belirtiniz (Şirket indirimi, kamu indirimi)\nÖzellikle bayi seçimi yapılması istenen şehir var ise belirtiniz.")
				.form-item
					button.button.button--primary(type="submit") Gönder

	<!-- TALEP OLUŞTUR BAŞARILI POPUP -->
	.hidden
		.modal#istek-basarili
			.centerfix
				img.modal-icon(src=prefix + "img/svg/icon-success.svg")
			h1.modal-title Talebiniz Alındı!
			p En kısa zamanda sizin için en avantajlı teklifleri hazırlayarak geri dönüş yapacağız.
			a.button.button--primary.close-lightbox(href="#") Kapat