extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.fill-white
		.container
			.row
				.page-img-placeholder
					h1.title.title--3.title--white AYARLARIM
					img(src=prefix+"img/content/settings/page-img.svg")

				.content-wrapper
					ul.settings-list.centerfix
						- var a = ["Eposta", "İsim", "Soyisim", "T.C. Kimlik Numarası", "Telefon No", "Şifre", "Doğum Tarihi"]
						- for (val in a)
							li
								.front
									div= a[val]
									div :
									div Lorem
									div
										a(href="#" class="edit-setting") Düzenle

								.backend
									a(href="#" class="close-setting")
										img(src=prefix+"img/svg/ico_popup_carpi.svg")
									h3.title.title--6= a[val] + " Düzenle"
									form.validate-form
										.row
											.form-item.col-md-4
												input(type="text", placeholder=a[val] + " Girin")
											.form-item.col-md-4
												button.button.button--primary(type="submit") Değişiklikleri Kaydet

