extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.fill-white
		.container
			.row
				.page-img-placeholder
					h1.title.title--3.title--white BİLDİRİMLER
					img(src=prefix+"img/content/notifications/page-img.svg")

				.content-wrapper
					ul.notification-list.centerfix
						li
							img.icon(src=prefix+"img/svg/icon-blog.svg")
							p Yeni yazımız blogda! <a href="#">2018 yılında en çok satan otomobiller</a> yazımıza göz atın
						li
							img.icon(src=prefix+"img/svg/icon-campaign.svg")
							p Yılbaşına özel kampanyalar başladı. <a href="#">Kampanyalara Git</a>
						li
							img.icon(src=prefix+"img/svg/icon-talep.svg")
							p <a href="#">2018 BMW 2 Serisi 218i 1.5 Cabrio</a> aracı için oluşturduğun talep yanıtlandı.
						li
							img.icon(src=prefix+"img/svg/icon-welcome.svg")
							p Bensizalma’ya hoş geldiniz


