extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.fill-white
		.container
			.row
				.page-img-placeholder
					h1.title.title--3.title--white BİZ KİMİZ
					img(src=prefix+"img/content/about-us/page-img.svg")

				.content-wrapper
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egestas, pulvinar metus at, tincidunt eros. Nulla scelerisque dapibus mi id vehicula. Suspendisse sed accumsan est. Integer convallis at dolor ac convallis. Ut gravida, metus ac sollicitudin scelerisque, mauris ipsum volutpat nisl, commodo finibus massa eros et augue. Nunc elit ante, blandit at turpis porta, fermentum condimentum eros. Nulla aliquam, arcu vitae tristique faucibus, ante tortor mattis est, nec interdum ex metus vel orci. Sed vitae ex eget lacus aliquet pellentesque. Ut sit amet magna et nunc rhoncus blandit ut quis mi.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egestas, pulvinar metus at, tincidunt eros. Nulla scelerisque dapibus mi id vehicula. Suspendisse sed accumsan est. Integer convallis at dolor ac convallis. Ut gravida, metus ac sollicitudin scelerisque, mauris ipsum volutpat nisl, commodo finibus massa eros et augue. Nunc elit ante, blandit at turpis porta, fermentum condimentum eros. Nulla aliquam, arcu vitae tristique faucibus, ante tortor mattis est, nec interdum ex metus vel orci. Sed vitae ex eget lacus aliquet pellentesque. Ut sit amet magna et nunc rhoncus blandit ut quis mi.
					h3.title--space Tanıtım Filmimiz
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lke1hrVNKts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



