extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.blog-page
		.container
			section.blog-slider.centerfix.flexslider.no-direction.no-control-nav
				ul.slides.centerfix
					li.centerfix
						img(src="https://place-hold.it/1440x630")

			.row
				.col-md-8.blog-detail
					p.post-date Kasım,2018
					h1.title.title--3 Yılbaşı Kampanyası
					p.counts
						span
							img(src=prefix + "img/svg/icon-view-grey.svg")
							| 125
						span
							img(src=prefix + "img/svg/icon-like-grey.svg")
							| 125
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egestas, pulvinar metus at, tincidunt eros. Nulla scelerisque dapibus mi id vehicula. Suspendisse sed accumsan est. Integer convallis at dolor ac convallis. Ut gravida, metus ac sollicitudin scelerisque, mauris ipsum volutpat nisl, commodo finibus massa eros et augue. Nunc elit ante, blandit at turpis porta, fermentum condimentum eros. Nulla aliquam, arcu vitae tristique faucibus, ante tortor mattis est, nec interdum ex metus vel orci. Sed vitae ex eget lacus aliquet pellentesque. Ut sit amet magna et nunc rhoncus blandit ut quis mi.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egestas, pulvinar metus at, tincidunt eros. Nulla scelerisque dapibus mi id vehicula. Suspendisse sed accumsan est. Integer convallis at dolor ac convallis. Ut gravida, metus ac sollicitudin scelerisque, mauris ipsum volutpat nisl, commodo finibus massa eros et augue. Nunc elit ante, blandit at turpis porta, fermentum condimentum eros. Nulla aliquam, arcu vitae tristique faucibus, ante tortor mattis est, nec interdum ex metus vel orci. Sed vitae ex eget lacus aliquet pellentesque. Ut sit amet magna et nunc rhoncus blandit ut quis mi.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egestas, pulvinar metus at, tincidunt eros. Nulla scelerisque dapibus mi id vehicula. Suspendisse sed accumsan est. Integer convallis at dolor ac convallis. Ut gravida, metus ac sollicitudin scelerisque, mauris ipsum volutpat nisl, commodo finibus massa eros et augue. Nunc elit ante, blandit at turpis porta, fermentum condimentum eros. Nulla aliquam, arcu vitae tristique faucibus, ante tortor mattis est, nec interdum ex metus vel orci. Sed vitae ex eget lacus aliquet pellentesque. Ut sit amet magna et nunc rhoncus blandit ut quis mi.

				.col-md-4.blog-gray-box
					.row
						.col-md-12.text-center
							h3.title.title--8.title--split FOTO GALERİ

						.col-md-12.flexslider.no-direction.no-control-nav.photo-gallery
							.slides
								-for(var i=1; i<10; i++)
									li
										img(src="https://place-hold.it/1440x630")
										span.count.centerfix.text-center #{i}/10

				.col-md-12.text-center
					h2.title.title--1.title--space.title--split İLGİLİ YAZILAR

				.col-md-12.blog-list
					.row
						include components/post-item
						+postItem(4)
						+postItem(4)
						+postItem(4)
