extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.blog-page
		.container
			section.blog-slider.centerfix.flexslider
				ul.slides.centerfix
					- for (var i = 0; i < 3; i++)
						li(class="centerfix")
							img(src="https://place-hold.it/1440x630")
							a(href="blog-detay.html") 2018 yılında <br />en çok satan otomobiller

			.row
				.col-md-12
					h2.title.title--1.title--space SON YAZILAR

				.col-md-8.blog-list
					.row
						include components/post-item
						+postItem()
						+postItem()
						+postItem()
						+postItem()
						+postItem()
						+postItem()

						.col-md-12.pagination
							a.prev(href="#")
								i.fa.fa-angle-left
								| Daha Eski Yazılar
							a.next(href="#") Daha Yeni Yazılar
								i.fa.fa-angle-right

				.col-md-4.blog-gray-box
					.row
						.col-md-12.text-center
							h3.title.title--8.title--split KULLANICI YORUMLARI

						.col-md-12.vertical-slider.blog-reco-list.no-direction.no-control-nav
							.slides
								li
									p "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
									span.author Alaattin U., Samsun
								li
									p "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
									span.author Alaattin U., Samsun
								li
									p "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
									span.author Alaattin U., Samsun
						a.button--primary.button(href="#yorum-yaz") Yorum Yaz
	<!-- İletişim popup -->
	.hidden
		.modal#yorum-yaz
			h1.modal-title Yorumlarınızı Bekliyoruz!
			p Siz de bensizalma’yanlardansanız deneyimlerinizi paylaşın, sayfamızda yer verelim.

			form.comment-form.validate-form(action="/comment-form" )
				.form-item
					input(type="text", placeholder="İsim Soyisim", data-rule-required="true")
				.form-item
					textarea(placeholder="Görüş ve önerilerinizi yazın", data-rule-required="true")
				.form-item
					button.button.button--primary(type="submit") Gönder
