extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.gallery-page
		.container
			.row
				.top-img(style="background-image: url(" + prefix + "img/content/homepage/slider-1.jpg)") EMRAH OTO
				.col-md-8
					.row.product-list
						include components/car-item-weight
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()
						+carItem()

				.col-md-4
					.gallery-info.centerfix
						h3.title.title--5.title--space İletişim Bilgileri

						.row
							.col-xs-4 İletişim Kişi :
							.col-xs-8 Emrah Balcı
						.row
							.col-xs-4 İletişim Tel :
							.col-xs-8 05555555555
						.row
							.col-xs-4 Lokasyon :
							.col-xs-8 İstanbul/Üsküdar
						.row
							.col-xs-4 Markalar :
							.col-xs-8 Audi, BMW
						.row
							.col-xs-4 Aktif İlan Sayısı :
							.col-xs-8
								b.text-orange 81