extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";
	- var isLoginPage = true;

block content
	.subpage-container.centerfix.fill-white.login-pages
		.container
			.row
				.content-wrapper
					.col-md-6
						h1.title.title--4 Üye Girişi

						form.login-form.validate-form(action="/")
							.form-item
								input(type="text", placeholder="E-posta", name="email", data-rule-required="true", data-rule-email="true")

							.form-item
								input(type="password", placeholder="Şifre", name="password", data-rule-required="true")

							.form-item.text-center
								p
									a(href="#sifremi-unuttum") Şifremi Unuttum?

							.form-item
								button.button.button--primary(type="submit") Giriş Yap


					.col-md-5.col-md-offset-1.login-intro
						.col-md-12.text-center
							p Üyelerimize özel hizmetlerimizden ücretsiz faydalanabilmek için üye olun.
							a.button.button--second(href="uye-ol.html") Ücretsiz Üye Olun

	<!-- ŞİFREMİ UNUTTUM POPUP -->
	.hidden
		.modal#sifremi-unuttum
			h1.modal-title Şifremi Unuttum
			p Şifrenizi yenileme linkini gönderebilmemiz için lütfen e-posta adresinizi girin
			form.forgot-password-form.validate-form(data-redirect="#mail-basarili", action="/forgot-password")
				.form-item
					input(type="text", data-rule-required="true" data-rule-email="true", name="email" placeholder="E-mail")
				.form-item
					button.button.button--primary(type="submit") Gönder

	<!-- ŞİFREMİ UNUTTUM MAIL BAŞARILI POPUP -->
	.hidden
		.modal#mail-basarili
			.centerfix
				img.modal-icon(src=prefix + "img/svg/icon-send.svg")
			h1.modal-title Şifre yenileme linki gönderildi
			p E-posta adresinize gönderilen linki tıklayıp şifrenizi yenileyin
			a.button.button--primary.close-lightbox(href="#") Tamam

