extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.content-padding
		.container
			.row
				include components/ikinci-el-filter

				.col-md-9
					.sort-filter Filtreler
						select.select-filter(data-param="sort")
							option(value="") Seçiniz
							option(value="1") Sırala
							option(value="2") Fiyata Göre
					.row.product-list
						include components/car-item-weight
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
						+carItem(true)
