extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.content-padding
		.container
			.row
				.col-md-8
					.product-wrapper
						.col-xs-12.mb30
							h1.centerfix.title.title--2 2018 BMW 2 Serisi 218i 1.5 Cabrio
						.col-xs-12.flexslider.no-direction
							.row
								.slides
									-for(var i=0; i< 3; i++)
										li
											img.centerfix(src="https://place-hold.it/764x500")
											span.new-price-2.text-orange 258.500 TL


					.product-wrapper
						.tab
							a.active(href="#ilan", data-tab="ilan") İlan
							a(href="#aracim", data-tab="aracim") Aracım
							a(href="#yakit-tuketimi", data-tab="yakit-tuketimi") Yakıt Tüketimi

						ul.spec-list-2.active(data-open-tab="ilan")
							-for (let i = 0; i<10; i++)
								li
									span.field İlan No:
									span.value 185.700 TL

						ul.spec-list-2(data-open-tab="aracim")
							-for (let i = 0; i<10; i++)
								li
									span.field Aracim No:
									span.value 185.700 TL

						ul.spec-list-2(data-open-tab="yakit-tuketimi")
							-for (let i = 0; i<10; i++)
								li
									span.field Yakıt Tüketimi:
									span.value 185.700 TL
				.col-md-4
					.gallery-info.centerfix
						h3.title.title--5.title--space İletişim Bilgileri

						a.text-orange.centerfix.mb30(href="galeri.html") Bayi adı

						.row
							.col-xs-4 İletişim Kişi:
							.col-xs-8 Emrah Balcı
						.row
							.col-xs-4 İletişim Tel:
							.col-xs-8
								a(href="tel:555555") 05555555555
						.row
							.col-xs-4 Lokasyon:
							.col-xs-8 İstanbul/Üsküdar

						a.text-orange.whatsapp(href="https://wa.me/1XXXXXXXXXX?text=Satılık%20arabanızla%20ilgili%20görüşmek%20istiyorum")
							img(src=prefix + "/img/svg/icon-whatsapp.svg")
							| Whatsapp ile iletişime geç
	<!-- TALEP OLUŞTUR POPUP -->
	.hidden
		.modal#talep-olustur
			h1.modal-title Talep Oluştur
			p Talebinizi oluşturduktan sonra 'Taleplerim' bölümünden alınan fiyatları takibe başlayabilirsiniz. Tüm bayilerden alınan teklifler ve iletişim bilgileri 1-3 iş günü içerisinde paylaşılacaktır.
			form.request-form.validate-form(data-redirect="#istek-basarili")
				.form-item
					input(type="text", value="1 Adet")
				.form-item.select-item
					select
						option(value="") Renk
						option(value="1") Kırmızı
						option(value="") Mor
						option(value="") Siyah
						option(value="") Kahverengi

				.form-item
					textarea(placeholder="Başka renk talebiniz varsa bildirin, \nBelirtmek istediğiniz hususlar varsa yazın, \nÖzel İndirim Koşulu var ise belirtiniz (Şirket indirimi, kamu indirimi)\nÖzellikle bayi seçimi yapılması istenen şehir var ise belirtiniz.")
				.form-item
					button.button.button--primary(type="submit") Gönder

	<!-- TALEP OLUŞTUR BAŞARILI POPUP -->
	.hidden
		.modal#istek-basarili
			.centerfix
				img.modal-icon(src=prefix + "img/svg/icon-success.svg")
			h1.modal-title Talebiniz Alındı!
			p En kısa zamanda sizin için en avantajlı teklifleri hazırlayarak geri dönüş yapacağız.
			a.button.button--primary.close-lightbox(href="#") Kapat