extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.centerfix
		.container
			.row
				include components/filter
				.col-md-9
					section.main-slider.centerfix.flexslider.no-direction
						ul(class="slides centerfix")
							- for (var i = 0; i < 3; i++)
								li(class="centerfix" style="background-image: url(" + prefix + "img/content/homepage/slider-1.jpg)")
									.container
										p Reklam #{i}

					section.main-slider.search-slider.centerfix.flexslider.no-direction
						ul(class="slides centerfix")
							li(class="centerfix" style="background-image: url(" + prefix + "img/content/homepage/slider-1.jpg)")
								.container
									section.search-box
										.overlay
										.wrapper
											input(type="text", name="q", placeholder="Marka veya model arayın", autocomplete="off", id="searchInput")
											button(type="submit")
												img(src=prefix + "img/svg/icon-search.svg")
											ul.autocomplete-list
												li
													a(href="aaaa.html") aaaaaav
												li
													a(href="bbbb.html") bbbbbb
												li
													a(href="cccc.html") cccccc
												li
													a(href="dddd.html") dddddd



					.col-12
						h2.centerfix.title.title--2.title--space.text-center ÖNE ÇIKANLAR
						.row
							include components/car-item-2
							- for (var i = 0; i < 6; i++)
								+carItem(4)

	section.centerfix.homepage-wrap.homepage-introduction
		.container
			.row
				.col-md-12
					h3.title.title--1.title--split NASIL KULLANIRIM
				.col-md-4.intro-item
					a(href="/araclar")
						.introduction-icon
							img(src=prefix + "img/content/homepage/icon-car.png")
						span Almak istediğin <br>aracı seç
				.col-md-4.intro-item
					a(href="/araclar")
					.introduction-icon
						img(src=prefix + "img/content/homepage/icon-request.png")
					span Talep oluştur
				.col-md-4.intro-item
					a(href="/araclar")
					.introduction-icon
						img(src=prefix + "img/content/homepage/icon-deal.png")
					span Avantajlı teklifleri alın

				.col-md-12(style="margin-top: 50px;")
					h3.title.title--1.title--split TANITIM FİLMİMİZ
				.col-md-12.intro-item
					<iframe height="315" src="https://www.youtube.com/embed/lke1hrVNKts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



	section.centerfix.homepage-wrap.homepage-campaigns
		.container
			.row
				.col-md-12.text-center
					h3.title.title--1.title--split FIRSATLAR

				.flexslider-slide.centerfix.list-wrapper.no-control-nav
					.slides
						include components/car-item
						-for(var i = 0; i<3; i++)
							li
								.product-list
									+carItem()
									+carItem()
									+carItem()
									+carItem()

				.col-md-12.text-center.button-wrapper
					a.button.button--primary(href="firsatlar.html") Tüm Fırsatları Gör

				.col-md-12.text-center
					h3.title.title--1.title--split KAMPANYALAR

				.flexslider-slide.centerfix.list-wrapper.no-control-nav
					.slides
						include components/campaign-item
						-for(var i = 0; i<3; i++)
							li
								.campaign-list
									+campaignItem()
									+campaignItem()

				.col-md-12.text-center
					a.button.button--primary(href="kampanyalar.html") Tüm Kampanyaları Gör

	section.centerfix.homepage-wrap.homepage-comments-blog
		.container
			.row
				.col-md-12.text-center
					h3.title.title--1.title--split BENSİZALMA BLOG

				.flexslider.centerfix.blog-posts-list.no-control-nav
					ul.slides
						- for (var i = 0; i < 3; i++)
							li
								figure.col-md-6.col-xs-12
									img(src="http://via.placeholder.com/640x360")
								article.col-md-6.col-xs-12
									span.date Kasım,2018
									h4.title.title--2 2018 yılında en çok satan otomobiller
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie non dui eu consequat. Donec dignissim fermentum tortor, quis consequat felis rutrum sed. Fusce facilisis est vel ultrices condimentum. Sed at lobortis nunc. Cras vitae mattis massa. Aliquam lobortis elit tortor, ut accumsan urna ultrices auctor. Etiam sit amet libero egest…
									a.link Devamını oku
										i.fa.fa-angle-right

				.col-md-12.text-center.button-wrapper
					a.button.button--primary(href="#") Tüm Yazıları Gör

				.col-md-12.text-center
					h3.title.title--1.title--split KULLANICI YORUMLARI

				.flexslider-slide-3.centerfix.comments-list
					ul.slides
						li
							p.comment "Benim aldığım fiyata göre çok daha iyi bir fiyat buldunuz, teşekkür ederim."

							p
								b Hüseyin Ç. / İstanbul

						li
							p.comment "Ek bir araştırma yapmama gerek kalmadan çok kısa zamanda aracı nereden alacağıma karar verdim."

							p
								b Engin D. / Tekirdağ

						li
							p.comment "Araç alırken bu kadar avantaj elde edebileceğim aklıma bile gelmemişti. Çok teşekkürler."

							p
								b Ayşe K. / İstanbul

						li
							p.comment "Kendimi güvende ve emin ellerde hissettim. Profesyonel yaklaşım."

							p
								b Esra B. / Rize

						li
							p.comment "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
							p
								b İbrahim U. / Antalya

						li
							p.comment "Araç haricinde diğer ihtiyaçlarım için de keşke benzer hizmeti sunsanız."
							p
								b Sema K. / Bursa

						li
							p.comment "Yeni araç aldığın anda değer kaybeder demişlerdi. Ama sizinle aldığım fiyat ile ikinci elde bile zarar etmem imkansız. Teşekkürler."
							p
								b Erdem Ç. / Ankara

						li
							p.comment "Normalde bana yakın olan bir bayiden gidip aracımı alacakken sayenizde bir sürü alternatifim olduğunun farkına vardım. Nereden alacağıma da yine ben karar verdim. Çok keyifli."
							p
								b Alaattin U. / Samsun

						li
							p.comment "Araç haricinde diğer ihtiyaçlarım için de keşke benzer hizmeti sunsanız."
							p
								b Emrah B. / Sivas