extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.content-padding
		.container
			.row
				include components/filter

				.col-md-9
					.alert.info Buradaki fiyatlar liste fiyatıdır. Aracını seç, talep oluştur. Tüm Türkiye'deki bayileri araştırıp en iyi fiyatı sunalım
					.row.product-list
						include components/car-item
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)
						+carItem(4)