extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";
	- var isLoginPage = true;

block content
	.subpage-container.centerfix.fill-white.login-pages
		.container
			.row
				.content-wrapper.text-center
					.col-md-12
						h1.title.title--3 Şifre Yenileme

					.col-md-6.col-md-offset-3
						form.new-password-form.validate-form
							.form-item
								input(type="password", id="password", placeholder="Yeni şifreyi giriniz", data-rule-required="true")

							.form-item
								input(type="password", placeholder="Yeni şifreyi tekrar giriniz", data-rule-required="true", data-rule-equalto="#password")

							.form-item
								button.button.button--primary(type="submit") Şİfre Değiştir

					.col-md-6.col-md-offset-3
						.modal
							.centerfix
								img.modal-icon.big(src=prefix + "img/svg/icon-success.svg")
							h1.modal-title Şifreniz başarıyla değiştirilmiştir.
							p Yeni şifrenizle üye girişi yapabilirsiniz.
							a.button.button--primary(href="giris-yap.html") Giriş Yap


