extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.fill-white
		.container
			.row
				.page-img-placeholder
					h1.title.title--3.title--white YARDIM / SIKÇA SORULAN SORULAR
					img(src=prefix+"img/content/faq/page-img.svg")

				.content-wrapper
					.faq-list
						-for(var i=0; i < 5; i++)
							h3.question
								span Bensizalma kimdir?
								i.fa.fa-angle-down
							.answer
								p bensizalma yeni araç alımları hizmeti sunar.


