extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix
		.container
			.row
				.col-md-12.title-wrapper
					h1.title.title--1 TALEPLERİM


				.content-wrapper
					include components/request-item
					+requestItem()
					+requestItem()
					+requestItem()
					+requestItem()
					+requestItem()
					+requestItem()