extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	.subpage-container.centerfix.content-padding
		.container
			.row
				.request-wrapper
					.col-md-3
						.row
							img.img-responsive(src="https://place-hold.it/764x500")

					.col-md-5.product-info
						h1.centerfix.title.title--2 2018 BMW 2 Serisi 218i 1.5 Cabrio

					.col-md-4.product-info
						a.button.button--primary(href="arac-detay.html") Araç Detayına Git


				.request-wrapper
					h3.title.title--5 Tekliflerim

					ul.offer-list
						li.head
							div Bayi Adı
							div Teklif
							div Bölge
							div Teslim Süresi
							div İletişim
						-for(var i = 0; i<5; i++)
							li
								div Maltepe Erkur
								div 255.700 TL
								div İstanbul
								div 3 Hafta
								div 02120000000
								div Mesaj : xxxxxxxxxxx