extends layout/layout

block head
	- var title = "bensizalma.com";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";
	- var isLoginPage = true;

block content
	.subpage-container.centerfix.fill-white.login-pages
		.container
			.row
				.content-wrapper.text-center
					.col-md-12
						h1.title.title--3 Ücretsiz Üye Ol
					.row
						.col-xs-12.tab
							a.active(href="#", data-tab="bireysel") Bireysel
							a(href="#", data-tab="kurumsal") Kurumsal

					.col-md-6.col-md-offset-3.active(data-open-tab="bireysel")
						form.signin-form.validate-form
							.form-item
								label E-mail
								input(type="text", name="email", data-rule-required="true" data-rule-email="true")
							.form-item
								label Ad
								input(type="text", name="name", data-rule-required="true")
							.form-item
								label Soyad
								input(type="text", name="surname", data-rule-required="true")

							.form-item
								label Şehir
								.form-item.select-item
									select(name='city', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") xxxx
										option(value="") xxxx
										option(value="") xxxx
										option(value="") xxxxx
							.form-item
								label T.C. Kimlik No.
								input.tc-mask(type="text", name="tc", maxlength="11", data-rule-required="true")
							.form-item
								label Telefon Numarası
								input.phone-mask(type="text", name="phone", maxlength="11", data-rule-required="true")
							.form-item
								label Şifre oluştur
								input(type="password", name="password", data-rule-required="true")
							.form-item
								label Doğum Tarihi
								input.dt-mask.datepicker(type="text", name="birthday", data-rule-required="true")
							.form-item
								label.checkbox-label
									.checkbox
										input(type="checkbox", name="agreement" data-rule-required="true")
										span
									p <a href="#kullanici-sozlesmesi">Kullanıcı sözleşmesi</a>’ni okudum, kabul ediyorum.
							.form-item
								button.button.button--primary(type="submit") Giriş Yap
					<!-- KURUMSAL -->
					.col-md-6.col-md-offset-3(data-open-tab="kurumsal")
						form.signin-form.validate-form
							.form-item
								label İşletme Türü
								.form-item.select-item
									select(name='type', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") Şahıs Şirketi
										option(value="") Limited ve Anonim Şirketi

							.form-item
								label Ticari Ünvan
								input(type="text", name="email", data-rule-required="true" data-rule-email="true")

							.form-item
								label İl
								.form-item.select-item
									select(name='city', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") xxxx
										option(value="") xxxx
										option(value="") xxxx
										option(value="") xxxxx

							.form-item
								label İlçe
								.form-item.select-item
									select(name='city', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") xxxx
										option(value="") xxxx
										option(value="") xxxx
										option(value="") xxxxx

							.form-item
								label Mahalle
								.form-item.select-item
									select(name='city', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") xxxx
										option(value="") xxxx
										option(value="") xxxx
										option(value="") xxxxx
							.form-item
								label Adres Detayı
								textarea(data-rule-required="true")

							.form-item
								label Vergi Dairesi
								.form-item.select-item
									select(name='city', data-rule-required="true")
										option(value="") Seçiniz
										option(value="1") xxxx
										option(value="") xxxx
										option(value="") xxxx
										option(value="") xxxxx
							.form-item
								label Vergi No.
								input(type="text", name="email", data-rule-required="true" data-rule-email="true")

							.form-item
								label Sabit Telefon 1
								input.phone-mask(type="text", name="phone", maxlength="11", data-rule-required="true")

							.form-item
								label Sabit Telefon 2
								input.phone-mask(type="text", name="phone", maxlength="11", data-rule-required="true")

							.form-item
								label.checkbox-label
									.checkbox
										input(type="checkbox", name="agreement" data-rule-required="true")
										span
									p <a href="#kullanici-sozlesmesi">Kullanıcı sözleşmesi</a>’ni okudum, kabul ediyorum.
							.form-item
								button.button.button--primary(type="submit") Giriş Yap
					.col-md-12.text-center
						p Zaten üye misiniz?
							a(href="giris-yap.html") Giriş Yapın

	.hidden
		.modal#kullanici-sozlesmesi
			h1.modal-title Kullanıcı Sözleşmesi
			.modal-scroll-content
				p Bu web sitesini (Kısaca "Site" olarak anılacaktır) kullanmak için lütfen aşağıda yazılı koşulları okuyunuz. İşbu Web Sitesi Kullanım Koşullarını (Kısaca "Site Kullanım Koşulları") kabul etmediğiniz taktirde, Site'yi kullanmaktan vazgeçiniz. 
				p 1.1. Site'nin sahibi bensizalma.com olup, Site'de sunulan hizmetler bensizalma.com tarafından sağlanmaktadır. Site sahibi bu Site'de yer alan veya alacak olan bilgileri, formları, içeriği, Site'yi, Site kullanma koşullarını dilediği zaman değiştirme hakkını saklı tutmaktadır.
				p 1.2. Bu Site'de sunulan hizmetlerden belirli bir bedel ödeyerek ya da bedelsiz olarak yararlananlar veya herhangi bir şekilde Site'ye erişim sağlayan her gerçek ve tüzel kişi aşağıdaki kullanım koşullarını kabul etmiş sayılmaktadır. İşbu Site Kullanım Koşulları'nı bensizalma.com dilediği zaman değiştirebilir. Bu değişiklikler periyodik olarak Site'de yayınlanacak ve yayınlandığı tarihte geçerli olacaktır. bensizalma.com tarafından işbu Site Kullanım Koşulları'nda yapılan her değişikliği Site hizmetlerinden yararlanan ve Site'ye erişim sağlayan her gerçek ve tüzel kişi önceden kabul etmiş sayılmaktadır. 
				p 1.3. İşbu Site Kullanım Koşulları 01.07.2018 tarihinde en son değişiklik yapılarak ve Web Sitesi üzerinden yayınlanarak; Site'yi kullanan her kişi tarafından erişimi mümkün kılınıp yürürlüğe konmuştur. İşbu Site Kullanım Koşulları ayrıca, bensizalma.com hizmetlerinden yararlanacak olan KULLANCILAR'la ve iş ortaklarıyla yapılmış ve/veya yapılacak olan her türlü sözleşmenin de ayrılmaz bir parçasıdır.
				h3 Tanımlar
				p 2.1. Site: bensizalma.com tarafından belirlenen çerçeve içerisinde çeşitli hizmetlerin ve içeriklerin sunulduğu çevrimiçi (on-line) ortamdan erişimi mümkün olan web sitesini; 
				p 2.2. KULLANICI(LAR): Site'ye çevrimiçi (on-line) ortamdan erişen her gerçek ve tüzel kişi(ler)i;
				p 2.3. LİNK(LER): Site üzerinden bir başka web sitesine, dosyalara, içeriğe veya başka bir web sitesinden Site'ye, dosyalara ve içeriğe erişimi mümkün kılan bağlantı(lar)ı; 
				p 2.4. İÇERİK(LER): Site ve/veya herhangi bir web sitesinden yayınlanan veya erişimi mümkün olan her türlü bilgi, dosya, resim, rakam, fiyat v.b görsel, yazınsal ve işitsel imgeleri ifade eder.
				h3 Genel Hükümler
				p 3.1. bensizalma.com, Site dâhilinde erişime açtığı hizmetler ve İÇERİKLER'den hangisinin ücrete tabi olacağını belirlemekte tamamen serbesttir. 
				p 3.2. bensizalma.com'un sunduğu hizmetlerden yararlananlar ve Site'yi kullananlar, yalnızca hukuka uygun ve şahsi/kurumsal amaçlarla Site üzerinden işlem yapabilirler. KULLANICILAR'ın, Site dâhilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir. Her KULLANICI, bensizalma.com ve/veya başka bir üçüncü şahsın haklarına tecavüz teşkil edecek nitelikteki herhangi bir iş ve eylemde bulunmayacağını; yazılı, görsel ve işitsel bilgileri açıklamayacağını, bensizalma.com'a açıkladığı her türlü yazılı, görsel ve işitsel bilginin bensizalma.com'a açıkladığı sırada her türlü biçimde kullanılması, işlenmesi, saklanması, açıklanması ve üçüncü kişilere karşı ifşa edilmesi konusunda bensizalma.com'un münhasır hak sahibi olduğunu kabul, beyan ve taahhüt eder. KULLANICI, Site dâhilinde bulunan resimleri, metinleri, görsel ve işitsel imgeleri, video klipleri, dosyaları, veritabanlarını, katalogları ve listeleri çoğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, gerek bu eylemleri ile gerekse de başka yollarla bensizalma.com ile doğrudan ve/veya dolaylı olarak rekabete girmeyeceğini kabul ve taahhüt etmektedir. 
				p 3.3. Site dâhilinde üçüncü kişiler tarafından sağlanan hizmetlerden ve yayınlanan içeriklerden dolayı bensizalma.com'un, işbirliği içinde bulunduğu kurumların, bensizalma.com çalışanlarının ve yöneticilerinin, bensizalma.com yetkili satıcılarının sorumluluğu bulunmamaktadır. Herhangi bir üçüncü kişi tarafından sağlanan ve yayınlanan bilgilerin, içeriklerin, görsel ve işitsel imgelerin doğruluğu ve hukuka uygunluğunun taahhüdü bütünüyle bu eylemleri gerçekleştiren üçüncü kişilerin sorumluluğundadır. bensizalma.com, üçüncü kişiler tarafından sağlanan hizmetlerin ve İÇERİKLER'in güvenliğini, doğruluğunu ve hukuka uygunluğunu taahhüt ve garanti etmemektedir.
				p 3.4. KULLANICILAR, Site'yi kullanarak, bensizalma.com'un, diğer KULLANICILAR'ın ve üçüncü kişilerin aleyhine hiçbir faaliyette bulunmayacaklardır. KULLANICILAR'ın işbu Site Kullanım Koşulları hükümlerine ve hukuka aykırı olarak gerçekleştirdikleri Site üzerindeki faaliyetler nedeniyle üçüncü kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı bensizalma.com'un doğrudan ve/veya dolaylı hiçbir sorumluluğu yoktur.
				p 3.5. KULLANICILAR, bensizalma.com'a Site dâhilinde kendileri tarafından sağlanan bilgilerin ve İÇERİKLER'in doğru ve hukuka uygun olduğunu kabul ve taahhüt etmektedirler. bensizalma.com, KULLANICILAR tarafından bensizalma.com'a iletilen veya Site üzerinden kendileri tarafından yüklenen, değiştirilen ve sağlanan bilgilerin ve İÇERİKLER'in doğruluğunu araştırma; bu bilgi ve içeriklerin güvenli, doğru ve hukuka uygun olduğunu taahhüt ve garanti etmekle yükümlü ve sorumlu değildir.
				p 3.6. KULLANICILAR, Site dâhilinde Türk Ticaret Kanunu hükümleri uyarınca haksız rekabete yol açacak faaliyetlerde bulunmayacağını, bensizalma.com'un ve üçüncü kişilerin şahsi ve ticari itibarını sarsacak, kişilik haklarına tecavüz ve taarruz edecek fiilleri gerçekleştirmeyeceğini kabul ve taahhüt etmektedir.
				p 3.7. bensizalma.com, Site dâhilinde sunulan hizmetleri ve İÇERİKLER'i her zaman değiştirebilme hakkını saklı tutmaktadır. bensizalma.com, bu hakkını hiçbir bildirimde bulunmadan kullanabilir. KULLANICILAR, bensizalma.com'un talep ettiği değişiklik ve/veya düzeltmeleri ivedi olarak yerine getirmek zorundadırlar. bensizalma.com tarafından talep edilen değişiklik ve/veya düzeltme istekleri gerekli görüldüğü takdirde doğrudan bensizalma.com tarafından yapılabilir. bensizalma.com tarafından talep edilen değişiklik ve/veya düzeltme taleplerinin, KULLANICILAR tarafından zamanında yerine getirilmemesi sebebiyle doğan veya doğabilecek zararlar, hukuki ve cezai sorumluluklar tamamen KULLANICILAR'a aittir.
				p 3.8. Site üzerinden, bensizalma.com'un kendi kontrolünde olmayan ve başkaca üçüncü kişilerin sahip olduğu ve işlettiği başka web sitelerine ve/veya İÇERİKLER'e ve/veya dosyalara bensizalma.com tarafından LİNK verilebilir. Bu LİNKLER sadece referans kolaylığı nedeniyle sağlanmış olup, ilgili web sitesini veya işleten kişiyi destekleyici veya web sitesi veya içerdiği bilgilere yönelik herhangi bir türde bir beyan veya garanti niteliği taşımamaktadır. Site üzerindeki LİNKLER vasıtasıyla erişilen web siteleri, dosyalar ve İÇERİKLER ile bu LİNKLER vasıtasıyla erişilen web sitelerinden sunulan hizmetler veya ürünler veya bunların İÇERİKLER'i hakkında bensizalma.com'un herhangi bir sorumluluğu yoktur. 
				p 3.9. bensizalma.com, Site üzerinden KULLANICILAR tarafından kendisine iletilen bilgileri "Gizlilik Politikası" ve KULLANICILAR ve diğer taraflarla yaptığı sözleşmelerin hükümleri doğrultusunda kullanabilir, bu bilgileri işleyebilir, bir veritabanı üzerinde tasnif edip muhafaza edebilir. bensizalma.com aynı zamanda; KULLANICI veya ziyaret edenin kimliğini, adresini, elektronik posta adresini, telefonunu, IP adresini, Site'nin hangi bölümlerini ziyaret ettiğini, domain tipini, tarayıcı (browser) tipini, tarih ve saat gibi bilgileri KULLANICILAR'la, iş ortaklarıyla ve taraflarla yaptığı sözleşmeler kapsamında ve istatistiki değerlendirme ve kişiye yönelik hizmetler sunma gibi amaçlarla da kullanabilir.
				h3 Fikri Mülkiyet Hakları
				p 4.1. Bu Site dâhilinde erişilen veya hukuka uygun olarak KULLANICILAR tarafından sağlanan bilgiler ve bu Site'nin (sınırlı olmamak kaydıyla tasarım, metin, imge, html kodu ve diğer kodlar) tüm elemanları (hepsi birden "bensizalma.com'nin Telif Haklarına Tabi Çalışmaları" olarak anılacaktır) bensizalma.com'a ait ve/veya bensizalma.com tarafından üçüncü bir kişiden lisans altında alınmıştır. KULLANICILAR, bensizalma.com hizmetlerini, bensizalma.com bilgilerini ve bensizalma.com'un Telif Haklarına Tabi Çalışmaları'nı yeniden satmak, işlemek, paylaşmak, dağıtmak, sergilemek veya başkasına bensizalma.com'un hizmetlerine erişim veya kullanım izni vermek hakkına sahip değildirler. İşbu Site Kullanım Koşulları dâhilinde bensizalma.com tarafından izin verilen durumlar haricinde, KULLANICILAR, bensizalma.com'un Telif Haklarına Tabi Çalışmaları'nı çoğaltamaz, işleyemez, dağıtamaz veya bunlardan türemiş çalışmalar yapamaz veya hazırlayamaz.
				p 4.2. İşbu Site Kullanım Koşulları dâhilinde bensizalma.com tarafından  yetki verilmediği hallerde, bensizalma.com; bensizalma.com hizmetlerine, bensizalma.com bilgilerine, bensizalma.com Telif Haklarına Tabi Çalışmaları'na, bensizalma.com ticari markalarına, bensizalma.com ticari görünümüne veya bu Site vasıtasıyla sağladığı başkaca varlık ve bilgilere yönelik tüm haklarını saklı tutmaktadır. 
				h3 Site Kullanım Koşulları'nda Değişiklikler
				p bensizalma.com, tamamen kendi takdirine bağlı olarak işbu Site Kullanım Koşulları'nı herhangi bir zamanda Site'de ilan ederek değiştirebilir. İşbu Site Kullanım Koşulları'nın değişen hükümleri, ilan edildikleri tarihte geçerlilik kazanacaktır. İşbu Site Kullanım Koşulları KULLANICI'nın tek taraflı beyanları ile değiştirilemez.
				h3 Mücbir Sebepler
				p Hukuken mücbir sebep sayılan tüm durumlarda, bensizalma.com işbu Site Kullanım Koşulları ve "Gizlilik Politikası"ndan herhangi birini geç ifa etme veya ifa etmeme nedeniyle yükümlü değildir. Bu ve bunun gibi durumlar, bensizalma.com açısından, gecikme veya ifa etmeme veya temerrüt addedilmeyecek veya bu durumlar için bensizalma.com’un herhangi bir tazminat yükümlülüğü doğmayacaktır. "Mücbir sebep" terimi, ilgili tarafın makul kontrolü haricinde ve bensizalma.com'un gerekli özeni göstermesine rağmen önleyemediği olaylar olarak yorumlanacaktır. Bunun yanında sınırlı olmamak koşuluyla, doğal afet, isyan, savaş, grev, iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve kötü hava koşulları, bensizalma.com'un gerekli bilgi güvenliği önlemleri almasına karşın Site'ye ve sisteme yapılan saldırılar gibi durumlar mücbir sebep olaylarına dâhildir.

			a.button.button--primary.close-lightbox(href="#") Tamam
