/**
    404 css
 */
.page404 {
    background: url("../img/content/404.jpg") top center no-repeat;
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    color: $white;
    text-align: center;
    padding: 40px 0;

    h1 {
        font-size: 160px;
        font-weight: 900;
    }

    h2 {
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 40px;
    }
}

.empty-page-info {
    text-align: center;
    margin: 30px 0;

    h1 {
        font-size: 32px;
        margin-bottom: 5px;
    }

    p {
        font-size: 16px;

        a {
            color: $default_link_color;
        }
    }
}