/**
    Blog pages
 */
.blog-page {
    background: $white;

    .blog-slider {
        margin-bottom: 70px;

        .slides {

            li {

                img {
                  display: inline-block;
                  width: 100%;
                }

                a {
                    position: absolute;
                    left: 40px;
                    bottom: 40px;
                    font-weight: 700;
                    color: $white;
                    font-size: 48px;
                }
            }
        }

        .flex-control-nav {
            @include center(true, false);
            bottom: -40px;
            z-index: 99;
        }

        .flex-direction-nav {
            @include center(false, true);
            left: 0;
            right: 0;
            z-index: 999;
            height: 50px;

            li {
                position: absolute;
                top: 0;
            }

            .flex-nav-prev {
                left: 40px;
            }

            .flex-nav-next {
                right: 40px;
            }
        }
    }
}

.pagination {
    border-top: 1px solid #e8e8e8;
    margin-top: 20px;
    padding: 20px 0 40px;
    a {
        font-weight: 400;
        color: #4a4a4a;
        font-size: 22px;

        i {
            display: inline-block;
            margin: 0 4px;
            color: $orange
        }
        &.next {
            float: right;
        }
    }
}

.blog-gray-box {
    background: #f5f5f5;
    padding: 30px;

    .blog-reco-list , .flexslider{
        margin: 20px 0;
        padding: 20px 0;
        text-align: center;
        font-size: 18px;
        &:not(.photo-gallery) {
            border-bottom: 1px solid #e8e8e8;
        }

        li {
            img {
                width: 100%;
            }
        }

        p {
            font-weight: 300;
            font-style: italic;
            margin-bottom: 15px;
        }

        .author {
            font-weight: 400;
        }
    }

    .count {
        font-size: 20px;
        font-weight: 300;
        margin-top: 5px;
    }

    .button {
        min-width: 100%;
        box-shadow: 0 -2px 4px 0 rgba(219, 219, 219, 0.5);
    }
}

.blog-detail {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 50px;

    p {
        margin-bottom: 15px;
    }
    .post-date {
        color: #afafaf;
    }
    .title {
        margin-bottom: 20px;
    }

    .counts {
        @include centerfix();

        span {
            display: inline-block;
            margin-right: 10px;

            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
    }
}