/**
    car detail css
 */
.product-wrapper {
    @include centerfix();
    padding: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
    margin-bottom: 20px;
    font-size: 20px;

    @include breakpoint($phablet) {
        padding: 20px;
    }

    .new-price-2 {
        position: absolute;
        background: $orange;
        font-weight: 600;
        color: $white;
        font-size: 32px;
        left: 0;
        bottom: 0;
        z-index: 23;
        padding: 10px;
    }

    .flex-control-nav {
        margin-top: 15px;
    }

    .product-image {
        margin: -40px 0 -40px -40px;

        @include breakpoint($phablet) {
            margin: 0;
        }

        img {
            width: 100%;
        }
    }

    .product-info {
        @include breakpoint($phablet) {
            padding: 20px;
        }
        .title {
            margin-bottom: 30px;
        }

        .old-price {
            font-weight: 300;
            color: #4d4d4d;
            text-decoration: line-through;
            margin-bottom: 6px;
        }

        .new-price {
            font-weight: 600;
            color: $orange;
            font-size: 32px;
            margin-bottom: 60px;
        }

        .lets-buy {
            @include centerfix();
            color: $orange;
            margin-bottom: 20px;
        }

        .button {
            max-width: 350px;
        }
    }

    .spec-list {
        @include centerfix();
        margin-top: 20px;

        li {
            @include centerfix();
            padding: 30px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #e8e8e8;
            }

            >div {
                float: left;

                &:nth-child(1) {
                    width: 5%;

                    @include breakpoint($phablet) {
                        width: 20%;
                    }
                }

                &:nth-child(2) {
                    width: 50%;

                    @include breakpoint($phablet) {
                        width: 80%;
                    }
                }

                &:nth-child(3) {
                    width: 30%;
                    font-weight: 300;
                    color: #4d4d4d;

                    @include breakpoint($phablet) {
                        width: 50%;
                    }
                }

                &:nth-child(4) {
                    width: 15%;
                    text-align: right;

                    @include breakpoint($phablet) {
                        width: 50%;
                    }
                }
            }
        }
    }

    .spec-list-2 {
        @include centerfix;

        li {
            @include centerfix;
            padding: 10px;

            &:nth-child(2n+1) {
                background: rgba(143, 143, 143, 0.2);
            }

            .field {
                float: left;
                width: 30%;
                color: $black;
            }

            .value {
                float: left;
                width: 70%;
                color: $orange;
            }
        }
    }

    .tab {
        margin: -40px -40px 40px -40px;
        display: flex;
        justify-content: space-around;

        @include breakpoint($phablet) {
            margin: -20px -20px 40px -20px;
        }

        a {
            font-size: 16px;
            text-align: center;
        }
    }
}

.request-form {
    input, textarea {
        text-align: left !important;
    }
}