/**
    faq page css
 */
.faq-list {
    @include centerfix();
    border: 1px solid #e8e8e8;

    .question {
        position: relative;
        padding: 20px 40px;
        font-size: 16px;
        color: $black;
        font-weight: 300;

        &:not(:last-child) {
            border-bottom: 1px solid #e8e8e8;
        }

        &.active {
            background: #f9f9f9;
            font-weight: 400;
            border-bottom: none;

            i {
                transform: rotate(-180deg);
            }
        }

        i {
            color: #4d4d4d;
            @include center(false, true);
            right: 40px;
            transition: all $animation_speed $animation_easing;
        }
    }

    .answer {
        display: none;
        background: #f9f9f9;
        font-size: 16px;
        color: $black;
        font-weight: 300;
        padding: 0 40px 20px;
    }
}