/**
    gallery page css
 */
.gallery-page {
    .top-img {
        @include centerfix;
        display: flex;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        text-shadow: 0 0 31px #000000;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        color: $white;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;

        &:before {
            content: "";
        }
    }
}

.gallery-info {
    font-size: 14px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143,143,143,0.5);
    padding: 16px;

    .row {
        margin-bottom: 15px;

        .col-xs-4 {
            font-weight: bold;
        }
    }

    .whatsapp {
        &:hover {
            color: $orange;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            height: 40px;
        }
    }
}