/**
    Anasayfa
 */

.homepage-introduction {
    padding: 55px 0;
    text-align: center;
    background: $white;

    .intro-item {
        margin-top: 40px;
        min-height: 200px;

        &:not(:nth-child(4)) {
            border-right: 1px dotted #afafaf;
        }

        @include breakpoint($phablet) {
            margin-top: 0;
        }
    }

    .introduction-icon {
        display: inline-block;
        margin-top: 50px;
        height: 57px;

        img {
            height: 50px;
        }
    }

    iframe {
        width: 100%;
        max-width: 600px;
    }

    span {
        display: block;
        font-weight: 300;
        font-size: 20px;
        color: $black;
        margin-top: 20px;
    }
}

.homepage-campaigns {
    padding: 55px 0;

    .list-wrapper {
        padding: 60px 0;
    }
}

.homepage-comments-blog {
    padding: 55px 0;
    min-height: 360px;
    background: $white;

    .comments-list {
        padding: 60px 0;
        text-align: center;
        color: $black;

        .title {
            font-weight: 400;
        }

        .slides li {
            padding: 25px 15px 0;
        }


        .flex-direction-nav {
            display: none;
        }

        p.comment {
            margin: 0 0 30px;
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            min-height: 90px;
        }

        b {
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
        }

        .flex-control-nav {
            margin-top: 40px;
        }
    }
}

.blog-posts-list {
    padding: 60px 0;

    figure {
        float: left;
        width: 45%;

        img {
            max-width: 100%;
        }
    }

    article {
        .date {
            display: block;
            font-size: 20px;
            font-weight: 300;
            color: #afafaf;
            margin-bottom: 6px;
        }
        .title {
            margin-bottom: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }

        .link {
            display: block;
            margin-top: 10px;
            font-size: 18px;

            i {
                margin-left: 4px;
            }
        }
    }

    .flex-control-nav {
        z-index: 99;
        position: absolute;
        top: 100px;
        left: 51%;
    }
}

.homepage-wrap {
    .button-wrapper {
        margin-bottom: 80px;
    }

    .flex-direction-nav {
        @include center(false, true);
        width: 100%;
        left: 0;
        z-index: 99;

        li {
            position: absolute;
            top: -20px;
        }

        .flex-nav-prev {
            left: -40px;
        }

        .flex-nav-next {
            right: -40px;
        }
    }
}