/**
    login, register, forgot password vs. page css
 */
.login-pages {
    .content-wrapper {
        margin: 50px 0;
    }

    .login-intro {
        border-left: 1px solid #d8d8d8;
        padding: 100px 50px;
    }
}