/**
    static page css
 */
.subpage-container {
    .page-img {
        @include centerfix();

        img {
            display: block;
            max-width: 100%;
        }
    }
    .page-img-placeholder {
        @include centerfix();
        background: #4d4d4d;
        min-height: 200px;

        h1 {
            @include center(false, true);
            left: 60px;

            @include breakpoint($phablet) {
                left: 15px;
            }
        }

        img {
            @include center(false, true);
            right: 120px;

            @include breakpoint($phablet) {
                right: 10px;
                max-width: 40%;
            }
        }
    }

    .title-wrapper {
        margin: 55px 0;
    }

    p {
        padding-bottom: 10px;
    }

    &.fill-white {
        .content-wrapper {
            @include centerfix();
            padding: 50px;
            font-size: 20px;
            font-weight: 300;
            background: $white;

            @include breakpoint($phablet) {
                padding: 30px;
            }

            .title {
                margin-bottom: 40px;
            }
        }
    }
}

.content-padding {
    margin: 55px 0;

    @include breakpoint($phablet) {
        margin: 0 0 55px;
    }
}