/**
    user pages css
 */
.request-wrapper {
    @include centerfix();
    padding: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
    margin-bottom: 20px;
    font-size: 20px;

    .product-image {
        margin: -40px 0 -40px -40px;
    }

    .product-info {
        min-height: 170px;

        .title {
            @include center(false, true);
            left: 15px;
            font-size: 23px;
        }

        .button {
            @include center(false, true);
            left: 15px;
            min-width: 100%;
        }
    }

    .offer-list {
        @include centerfix();
        margin-top: 20px;

        li {
            @include centerfix();
            padding: 30px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #e8e8e8;
            }
            &.head * {
                color: #4a4a4a;
                font-weight: 600;
                font-size: 18px;
            }

            >div {
                float: left;
                color: $black;
                font-weight: 300;
                font-size: 20px;

                &:nth-child(1) {
                    width: 30%;
                }

                &:nth-child(2) {
                    width: 20%;
                    color: $orange;
                    font-weight: 600;
                }

                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 18%;
                }

                &:nth-child(5) {
                    width: 12%;
                }

                &:nth-child(6) {
                    padding-top: 15px;
                    width: 100%;
                }
            }
        }
    }
}

.notification-list {
    border: 1px solid #e8e8e8;

    li {
        @include centerfix();
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid #e8e8e8;
        }

        &:nth-child(2n) {
            background-color: rgba(245, 245, 245, 0.6);
        }

        .icon {
            height: 20px;
            vertical-align: middle;
            margin-right: 10px;
        }

        p {
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            color: $black;

            a {
                color: $black;
                font-weight: 400;
            }
        }
    }
}

.settings-list {
    border: 1px solid #e8e8e8;

    li {
        @include centerfix();
        padding: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4a4a4a;

        &:not(:last-child) {
            border-bottom: 1px solid #e8e8e8;
        }

        &:nth-child(2n) {
            background-color: rgba(245, 245, 245, 0.6);
        }
        .front {

            >div {
                float: left;

                &:nth-child(1) {
                    width: 25%;
                }

                &:nth-child(2) {
                    width: 5%;
                }

                &:nth-child(3) {
                    width: 50%;
                    color: $black;
                    font-weight: 400;
                }

                &:nth-child(4) {
                    width: 20%;
                    text-align: right;
                }
            }
        }
        .backend {
            position: relative;
            display: none;

            .close-setting {
                position: absolute;
                right: 0;
                top: 0;
            }

            .title {
                margin-bottom: 30px !important;
            }
        }
    }
}