/**
    Campaign item css
 */

.car-item.campaign {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
    background-color: $white;
    padding: 32px;
    margin-bottom: 20px;

    figure {
        margin-bottom: 15px;

        img {
            display: inline-block;
            width: 100%;
        }
    }

    .name {
        font-weight: 600;
        color: $black;
        font-size: 18px;
        margin-bottom: 9px;
        height: 50px;
        overflow: hidden;
    }
    p {
        font-weight: 300;
        color: $black;
        font-size: 18px;
    }
}

.campaign-list {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}