/**
    Product item css
 */

.car-item {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
    background-color: $white;
    padding: 16px;
    margin-bottom: 20px;

    figure {
        margin-bottom: 5px;

        img {
            display: inline-block;
            width: 100%;
        }
    }

    .name {
        font-weight: 400;
        color: $black;
        font-size: 18px;
        margin-bottom: 10px;
        height: 50px;
        overflow: hidden;
    }
    .old-price {
        font-weight: 300;
        color: #4d4d4d;
        font-size: 16px;
        margin-bottom: 7px;
        padding: 0 !important;
        text-decoration: line-through;
    }
    .new-price {
        font-weight: 400;
        color: $orange;
        font-size: 22px;
    }
    .gallery-name {
        display: block;
        color: $orange;
        font-size: 9px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .spec {
        color: $black;
        font-size: 12px;
        margin-bottom: 10px;
    }

    &.weight {
        display: flex;
        width: 100%;
        padding: 16px 1px;

        @include breakpoint($phablet) {
            display: inline-block;
        }

        >:last-child {
            align-self: center;
        }
    }
}

.product-list {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}