/**
    AArama search box css
 */
.filter-box {
    background: $white;
    padding: 30px;

    .close-filter-button {
        position: fixed;
        right: 15px;
        top: 80px;
        z-index: 999;
        width: 100px !important;
        min-width: 100px !important;
    }

    @media (max-width: 992px) {
        overflow: auto;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        z-index: 999;
        bottom: 0;

        #lets-search {
            position: fixed;
            left: 0;
            bottom: 10px;
        }

        .filter-box.active {
            display: block !important;
        }
    }


    &.ikinci-el-filter {
        .block {
            overflow: hidden;
            height: 34px;

            &:after {
                content: url("../img/svg/arrow-down.svg");
                position: absolute;
                top: 10px;
                right: 5px;
                z-index: 1;
            }

            &:not(.active) {
                cursor: pointer;
            }

            &.active {
                height: auto;

                &:after {
                    top: 15px;
                    transform: rotate(-180deg);
                }
            }

            .title {
                position: relative;
                font-size: 14px;
                z-index: 3;
                width: 100%;
                margin-bottom: 0;
                padding: 15px 0;
            }
        }
    }

    .block {
        @include centerfix();
        margin-bottom: 20px;
        font-size: 16px;
        color: $black;
        font-weight: 300;

        .title {
            margin-bottom: 15px;
        }

        .input {
            @include centerfix();
            border-radius: 2px;
            border: 1px solid #cacacf;
            margin-bottom: 15px;

            i {
                @include center(false, true);
                font-size: 15px;
                left: 15px;
                color: #afafaf;
            }

            input {
                border: none;
                outline: none;
                height: 40px;
                width: 100%;
                padding-left: 42px;
                font-size: 16px;
                color: $black;
                font-weight: 300;
            }
        }
        .search-list {
            margin-bottom: 15px;
            @include centerfix();
            max-height: 160px;
            overflow: hidden;


            &.active {
                max-height: 300px;
                overflow: auto;
            }

            .checkbox-label-30 {
                @include centerfix();
            }

            &.active {
                label {
                    display: block;
                }
            }

            .hidden-c {
                display: none !important;
            }
        }

        .link {
            display: block;
        }
    }

    .slider {
        @include centerfix();
        margin: 15px 0;
        background: $orange;

        .ui-slider-range {
            @include centerfix();
            height: 3px;
            background: #e0e0e0;
        }

        .ui-slider-handle {
            position: absolute;
            top: -8px;
            width: 17px;
            height: 17px;
            background: #e0e0e0;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .amount {
        @include centerfix();
        margin-bottom: 15px;
        div {
            float: left;
            width: 50%;
            color: #808080;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;

            span {
                @include centerfix();
                font-weight: 400;
                color: $black;
                font-size: 16px;
                margin-bottom: 3px;
            }

            &.max {
                text-align: right;
            }
        }

        .min {

        }
    }


    input.input-box {
        outline: none;
        height: 40px;
        width: 100%;
        font-size: 14px;
        color: $black;
        font-weight: 300;
        border-radius: 2px;
        border: 1px solid #cacacf;
    }



    .button {
        min-width: 100%;
    }
}