/**
    Anasayfa main slider
 */

.main-slider {
    height: 360px;
    margin-bottom: 40px;

    &.search-slider {
        height: 200px;
    }

    .slides {
        height: 100%;

        > li {
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.3);
            }

            p {
                @include center(true, true);
                width: 100%;
                text-shadow: 0 0 31px #000000;
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                color: #ffffff;

                @include breakpoint($phablet) {
                    font-size: 24px;
                }
            }
        }
    }

    .flex-control-nav {
        @include center(true, false);
        bottom: 15px;
        z-index: 2;
    }
}