/*Modal*/
.modal {
    max-width: 680px;
    width: 100%;
    padding: 40px;
    font-size: 20px;
    overflow: hidden;

    @include breakpoint($phablet) {
        padding: 20px;
    }

    .modal-icon {
        height: 40px;
        margin-bottom: 30px;

        &.big {
            height: 100px;
        }
    }

    .modal-title {
        display: block;
        font-weight: 700;
        font-size: 24px;
        color: $black;
        margin-bottom: 15px;
    }

    p {
        display: block;
        font-weight: 300;
        color: $black;
        margin-bottom: 20px;
    }

    .modal-scroll-content {
        @include centerfix();
        max-height: 450px;
        overflow: auto;
        text-align: justify;
    }
}

