/**
    Post item css
 */

.post-item {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    color: $black;

    figure {
        margin-bottom: 25px;

        img {
            display: inline-block;
            width: 100%;
        }
    }

    .title {
        margin-bottom: 12px;
        max-height: 75px;
        overflow: hidden;
    }

    .counts {
        @include centerfix();

        span {
            display: inline-block;
            margin-right: 10px;

            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
    }
    p {
        margin-bottom: 20px;
    }

    .link {
        i {
            margin-left: 3px;
        }
    }
}