/**
    Request item css
 */

.request-item {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
    background-color: $white;
    padding: 25px;
    margin-bottom: 20px;

    figure {
        margin-bottom: 25px;

        img {
            display: inline-block;
            width: 100%;
        }
    }

    .name {
        font-weight: 400;
        color: $black;
        font-size: 20px;
        margin-bottom: 18px;
    }
    .item-footer {
        font-weight: 300;
        font-size: 18px;
        color: #4d4d4d;
        padding-top: 20px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -12px;
            right: -12px;
            border-top: 1px solid #e8e8e8
        }

        .status {
            float: left;
            b {
                font-weight: 600;

                &.done {
                    color: $green;
                }
            }
        }

        .right {
            float: right;
        }

        a.right {
            font-weight: 600;
        }
    }
}