/**
    Anasayfa search box css
 */
.search-box {
    @include center(true, true);
    max-width: 550px;
    width: 100%;
    height: 60px;
    background-color: $white;
    z-index: 99;
    transition: all $animation_speed $animation_easing;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);


    .wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background: $white;
        z-index: 12;
    }

    &.focus {
        //transform: translate(-50%, -280px);

        //.overlay {
        //    display: block;
        //}

        .autocomplete-list:not(.hidden) {
            display: block;
        }
    }

    input {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        color: #afafaf;
        padding: 20px;
        z-index: 12;
    }

    //.overlay {
    //    position: fixed;
    //    left: -100vw;
    //    top: -100vh;
    //    right: -100vw;
    //    bottom: -100vh;
    //    background-color: $orange;
    //    opacity: .66;
    //    z-index: 11;
    //    display: none;
    //}

    button {
        @include center(false, false);
        top: 20px;
        right: 25px;
        border: none;
        padding: 0;
        z-index: 12;
        background: $white;
    }

    .autocomplete-list {
        border-top: 1px solid #A7B8BC;
        margin: 0 25px 25px;
        display: none;

        li {
            display: block;

            &.active {
                a {
                    font-weight: 600;
                }
            }

            a {
                display: block;
                font-size: 18px;
                color: #1061A0;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 50px;
            }
        }
    }
}