/**
  Sort filter
 */

.sort-filter {
  @include centerfix;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  background: $white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    float: right;
    height: 40px;
  }
}