- var prefix = "/output/public/dist/"
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href=prefix + "img/favicon/favicon.ico")
		link(rel="apple-touch-icon", href=prefix + "img/favicon/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="72x72", href=prefix + "img/favicon/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="114x114", href=prefix + "img/favicon/apple-icon-114x114.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin-ext" rel="stylesheet")
		link(rel="stylesheet", href=prefix + "css/style.css")

	body
		<!-- header begin here -->
		if (isLoginPage)
			header.header
				.container
					.row
						a(href="index.html" class="header-logo vertical")
							img(src=prefix + "img/bensizalma-icon-logo.svg", alt="bensizalma.com logo")

						nav.header-nav
							ul
								li
									a(href="sss.html" title="Yardım") Yardım
		else
			header.header
				.container
					.row
						a(href="index.html" class="header-logo")
							img(src=prefix+ "img/bensizalma-logo.png", alt="bensizalma.com logo")
						<a class="mobile-menu-button visible-sm-block visible-xs-block" href="#" data-toggle="megamenu"><span></span><span></span><span></span></a>
						nav.header-nav.hidden-sm.hidden-xs(data-open="megamenu")
							ul
								li
									a(href="ikinci-el-arac-arama.html" title="2. El Araç") 2. El Araç
								li
									a(href="#" title="Teklifler") Teklifler
										img.arrow(src=prefix+"img/svg/arrow-down.svg")
									ul.sub-menu
										li
											a(href="sifir-arac-arama.html") Sıfır Araç Teklif
										li
											a(href="#") Servis İçin Teklif
										li
											a(href="#") Filo İçin Teklif

								<!-- LOGIN OLMAYAN GÖRECEK -->
								//li.login
									a(href="giris-yap.html" class="login" title="Giriş Yap")
										img(src=prefix + "img/svg/user.svg")
										| Giriş Yap
									a(href="uye-ol.html" class="signup" title="Üye Ol") Üye Ol

								<!-- LOGIN OLAN GÖRECEK -->
								li.login
									a(href="#" class="login")
										img(src=prefix + "img/svg/user.svg")
										| Hoşgeldin Selim
										img.arrow(src=prefix+"img/svg/arrow-down.svg")
									ul.sub-menu
										li
											a(href="taleplerim.html") Taleplerim
										li
											a(href="bildirimlerim.html") Bildirimlerim
										li
											a(href="ayarlarim.html") Ayarlarım
										li
											a(href="#") Çıkış Yap

		<!-- header end here -->

		<!-- main content begin here -->
		main.main.centerfix
			block content

		<!-- footer begin here -->
		footer.footer.centerfix
			.container
				a(href="index.html" class="footer-copyright")
					img(src=prefix + "img/bensizalma-logo.png")

				ul(class="footer-social")
					li Bizi takip edin
					li
						a(href="#" title="bensizalma.com youtube")
							img(src=prefix + "img/svg/icon-youtube.svg")
					li
						a(href="#" title="bensizalma.com instagram")
							img(src=prefix + "img/svg/icon-instagram.svg")
					li
						a(href="#" title="bensizalma.com facebook")
							img(src=prefix + "img/svg/icon-facebook.svg")
					li
						a(href="#" title="bensizalma.com twitter")
							img(src=prefix + "img/svg/icon-twitter.svg")


		<!-- footer end here -->

		<!-- İletişim popup -->
		.hidden
			.modal#iletisim
				h1.modal-title Bize Ulaşın
				form.contact-form.validate-form(action="/contact-form")
					.form-item
						input(type="text", placeholder="E-mail", data-rule-required="true" data-rule-email="true")
					.form-item
						input(type="text", placeholder="Ad", data-rule-required="true")
					.form-item
						input(type="text", placeholder="Soyad", data-rule-required="true")
					.form-item
						textarea(placeholder="Görüş ve önerilerinizi yazın", data-rule-required="true")
					.form-item
						button.button.button--primary(type="submit") Gönder

		<!-- FORM UYARI MODAL -->
		.hidden
			.modal#form-alert
				h1.modal-title Uyarı
				p
				a.button.button--primary.close-lightbox(href="#") Tamam

		script.
			var root = "http://167.99.105.60/bensizalma/current/web";
		script(type="text/javascript", src=prefix + "js/bundle.js")
		script.
			$(document).ready(function(){
				if (document.cookie.indexOf('visited') === -1)
					$.colorbox({rel: 'grppop', html: '<iframe width="560" height="315" src="https://www.youtube.com/embed/lke1hrVNKts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>', open: true, width:560, height:315, className: 'blackpop',
						onClosed: function () {
							var fifteenDays = 1000 * 60 * 60 * 3;
							var expires = new Date((new Date()).valueOf() + fifteenDays);
							document.cookie = "visited=true;expires=" + expires.toUTCString();
						}
					});
			});
		block scripts