/**
    FLEXSLIDER CSS
 */

.no-direction {
    .flex-direction-nav {
        display: none;
    }
}
.no-control-nav {
    .flex-control-nav {
        display: none;
    }
}

.flex-control-nav {
    display: inline-block;

    li {
        float: left;
        margin-right: 7px;
        margin-bottom: 7px;

        a {
            display: block;
            width: 14px;
            height: 14px;
            border: 1px solid $orange;
            border-radius: 50%;
            text-indent: -9999px;

            &.flex-active {
                background-color: $orange;
            }
        }
    }
}
.flex-direction-nav {
    display: inline-block;

    li {

        a {
            display: block;
            width: 23px;
            height: 40px;
            text-indent: -9999px;

            &.flex-prev {
                background: url("../img/svg/ico_slider_ok_sol.svg");
            }

            &.flex-next {
                background: url("../img/svg/ico_slider_ok_sag.svg");
            }
        }
    }
}