/**
    Footer css
 */

.footer {
    height: 180px;
    z-index: 4;

    @include breakpoint($phablet) {
        height: 230px;
    }

    .container {
        position: relative;
        height: 100%;
    }

    .footer-copyright {
        @include center(false, true);
        left: 15px;

        img {
            width: 200px;
        }

        @include breakpoint($phablet) {
            transform: translate(0, 0);
            top: 170px;
            right: 15px;
            text-align: center;
        }
    }

    .footer-social {
        @include center(false, true);
        right: 15px;

        @include breakpoint($phablet) {
            transform: translate(0, 0);
            top: 15px;
            left: 15px;
            text-align: center;
        }

        li {
            display: inline-block;
            margin-left: 25px;
            font-size: 20px;
            color: $black;
            line-height: 60px;

            @include breakpoint($phablet) {
                &:first-child {
                    width: 100%;
                    margin-left: 0;
                }

                img {
                    width: 40px;
                }
            }
        }
    }
}