/**
    Header css
 */
$headerWidth: 80px;
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $headerWidth;
    z-index: 5;
    background-color: $white;

    @include breakpoint($phablet) {
        position: fixed;
        height: 60px;
    }

    .container {
        height: 100%;
    }

    + .main {
        margin-top: $headerWidth;

        @include breakpoint($phablet) {
            margin-top: 60px;
        }
    }

    .header-logo {
        @include center(false, true);

        img {
            width: 266px;

            @include breakpoint($phablet) {
                width: 180px;
                margin-left: 15px;
            }
        }

        &.vertical img {
            width: auto;
            height: 50px;
        }
    }

    .mobile-menu-button {
        float: right;
        margin-top: 26px;
        width: 36px;

        @include breakpoint($phablet) {
            margin-top: 18px;
            margin-right: 15px;
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background: $orange;
            transition: all ease .5s;
            transform-origin: 0 1px;

            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }

        &.active span {

            &:nth-child(1) {
                transform: rotate(43deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-43deg);
            }
        }
    }

    .header-nav {
        float: right;

        @include breakpoint($tablet) {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            background: $white;
            height: 100vh;
        }

        &.active {
            display: block !important;
        }

        > ul {
            >li {
                position: relative;
                float: left;

                @include breakpoint($tablet) {
                    width: 100%;
                    text-align: center;
                }

                &.login {
                    > a {
                        position: relative;
                        display: inline-block;
                        margin: 0 0;
                        padding: 0 6px;

                        img {
                            margin-right: 5px;
                        }

                        &.signup {
                            &:before {
                                display: inline-block;
                                vertical-align: middle;
                                content: "";
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                background: $orange;
                                margin-right: 12px;
                            }
                        }
                    }
                }

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background: $white;
                    border-radius: 0 0 5px 5px;
                    padding: 5px 5px;
                    z-index: 2;
                    box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
                    display: none;
                    min-width: 100%;

                    li {
                        display: block;
                        width: 100%;
                        border-bottom: 1px dotted #afafaf;
                        line-height: 50px;

                        @include breakpoint($phablet) {
                            border-bottom: none;
                            line-height: 40px;
                        }

                        &:last-child {
                            border: none;
                        }

                        a {
                            line-height: 50px;
                            white-space: nowrap;
                        }
                    }
                }

                &:hover {
                    > a {
                        box-shadow: 0 -2px 4px 0 rgba(143, 143, 143, 0.5);
                    }
                    .sub-menu {
                        display: block;
                    }
                }

                a {
                    position: relative;
                    display: block;
                    line-height: $headerWidth;
                    padding: 0 20px;
                    font-weight: 400;
                    font-size: 18px;
                    color: $black;
                    z-index: 3;

                    @include breakpoint($phablet) {
                        line-height: 60px;
                    }

                    @include breakpoint(1200px) {
                        padding: 0 10px;
                    }
                }

                .arrow {
                    margin-left: 5px;
                }
            }
        }
    }

    .login-area {
        position: absolute;
        right: 0;
        top: 60px;
        background: rgba(255,255,255,0.97);
        box-shadow: 0 8px 20px 0 rgba(37,51,98,0.50);
        border-radius: 20px;
        width: 306px;
        padding: 20px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 18px solid transparent;;
            border-bottom-color: rgba(255,255,255,0.97);
            top: -36px;
            right: 70px;
        }

        input[type="submit"] {
            font-size: 16px;
        }

        .forgot-password {
            display: block;
            text-align: center;
            border-bottom: 1px solid rgba(37,51,98,0.33);
            padding-bottom: 20px;
        }
        .signin-block {
            text-align: center;
            font-size: 12px;
            color: $orange;
        }
    }
}