.centerfix {
    @include centerfix;
}

body {
    background: #f5f5f5;
}

.main {
    min-height: 600px;
    z-index: 3;
    overflow: hidden;
}

.mb30 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.text-orange {
    color: $orange;
}

.contact-form {
    input, textarea {
        text-align: left !important;
    }
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 14px;

    &.info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
}

.tab {
    border-bottom: 1px solid $orange;
    display: flex;
    margin-bottom: 40px;

    a {
        flex: 1;
        line-height: 40px;
        color: $black;
        border: 1px solid transparent;

        &.active, &:hover {
            text-decoration: none;
            border: 1px solid $orange;
            color: $orange;
            border-bottom-color: transparent;
            border-radius: 5px 5px 0 0 ;
        }
    }
}

[data-open-tab]:not(.active) {
    display: none;
}

.mtb30 {
    margin: 30px 0;
}