/*Button css*/
.button {
	display: inline-block;
	border: none;
	outline: none;
	transition: all $animation_speed $animation_easing;

	&--primary {
		height: 50px;
		border-radius: 30px;
		background-image: linear-gradient(to bottom, #fc9035, #f95b1f);
		max-width: 500px;
		width: 100%;
		text-align: center;
		font-weight: 300;
		font-size: 20px;
		color: $white;
		line-height: 50px;
		letter-spacing: -0.5px;

		&:hover {
			text-decoration: none;
			background-image: linear-gradient(to top, #fc9035, #f95b1f);
		}
	}

	&--second {
		height: 50px;
		border-radius: 30px;
		border: 1px solid $orange;
		max-width: 500px;
		width: 100%;
		text-align: center;
		font-weight: 300;
		font-size: 20px;
		color: $orange;
		line-height: 50px;
		letter-spacing: -0.5px;

		&:hover {
			text-decoration: none;
			color: $white;
			background: $orange;
		}
	}

	&-block {
		display: block;
		width: 100%;
	}

	&-space {
		margin-bottom: 20px;
	}
}
