/*Custom checkbox and radio css*/
.checkbox-label {
	line-height: 40px;

	&-30 {
		line-height: 30px;
	}
}
.checkbox {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #cacacf;
	border-radius: 2px;
	margin-right: 10px;
	vertical-align: middle;

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + span {
			display: block;
		}
	}

	span {
		display: none;
		width: 100%;
		height: 100%;
		background: url("../img/svg/icon-checked-black.svg") no-repeat;
		background-size: cover;
	}

	& + p {
		display: inline-block;
	}

	&.checkbox-30 {
		width: 30px;
		height: 30px;
	}

	&.checkbox-20 {
		width: 20px;
		height: 20px;
	}
}

/*Custom select*/
$height: 40px;
//
//.select {
//	position: relative;
//	float: left;
//	width: 150px;
//	height: $height;
//	border: 1px solid #ccc;
//
//	&::after {
//		content: "";
//		position: absolute;
//		top: 50%;
//		margin-top: -3px;
//		right: 15px;
//		border: 6px solid;
//		border-color: #000 transparent transparent;
//		z-index: -1;
//	}
//
//	&.open:after{
//		border-color: transparent transparent #000;
//		margin-top: -10px;
//	}
//
//	select {
//		position: absolute;
//		left: 0;
//		top: 0;
//		width: 100%;
//		height: 100%;
//		opacity: 0;
//
//		option {
//			font-size: 16px;
//			color: #000;
//			padding: 10px 5px;
//		}
//	}
//
//	&::before {
//		content: attr(value);
//		display: block;
//		width: 100%;
//		line-height: $height;
//		padding: 0 10px;
//		font-size: 14px;
//	}
//}