/*Form css*/
.form-item {
	display: block;
	margin-bottom: 35px;

	label {
		display: block;
		font-weight: 300;
		font-size: 22px;
		color: $black;
		margin-bottom: 5px;
	}

	&.date {
		position: relative;
		input {
			&:before {
				@include center(true, true);
				color: #757575;
				content: attr(placeholder);
				font-weight: 300;
				font-size: 22px;
			}
		}
	}

	input[type="text"], input[type="date"], input[type="password"] {
		display: block;
		width: 100%;
		border-radius: 30px;
		height: 50px;
		outline: none;
		border: 1px solid #e0e0e0;
		padding: 0 20px;
		font-weight: 300;
		font-size: 22px;
		text-align: center;
	}

	button[type="submit"] {
		min-width: auto;
		width: 100%;
	}

	textarea {
		display: block;
		width: 100%;
		border-radius: 30px;
		height: 130px;
		outline: none;
		border: 1px solid #e0e0e0;
		padding: 10px 20px;
		font-weight: 300;
		font-size: 22px;
		text-align: center;
	}

	&.select-item {
		border-radius: 30px;
		overflow: hidden;
		border: 1px solid #e0e0e0;
		padding: 0 20px;

		select {
			border: none;
			outline: none;
			display: block;
			width: 100%;
			height: 50px;
			font-weight: 300;
			font-size: 22px;
			text-align: center;
			background: $white;
		}
	}

	.error {
		border-color: red !important;
	}
}