/*Title css*/
.title {
	position: relative;
	display: inline-block;

	&--1 {
		font-size: 36px;
		color: $black;
		font-weight: 400;
	}

	&--2 {
		font-size: 28px;
		color: $black;
		font-weight: 400;
	}

	&--3 {
		font-size: 36px;
		color: $black;
		font-weight: 600;
	}

	&--4 {
		font-size: 45px;
		color: $black;
		font-weight: 700;
	}

	&--5 {
		font-size: 24px;
		color: $black;
		font-weight: 600;
	}

	&--6 {
		font-size: 16px;
		color: $black;
		font-weight: 700;
	}

	&--7 {
		font-size: 20px;
		color: $black;
		font-weight: 600;
	}

	&--8 {
		font-size: 24px;
		color: $black;
		font-weight: 400;
	}

	&--white {
		color: $white;
	}

	&--split {
		text-align: center;

		&:after {
			content: "";
			@include center(true, false);
			top: 100%;
			width: 150px;
			height: 4px;
			background: $orange;
		}
	}

	&--space {
		margin-bottom: 20px;
	}
}