/*
* Font global variable
*/
$font_primary: 'Open Sans', sans-serif;
;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$orange                     : #fa6924;
$green                      : #1ba409;

/*Reset.scss'teki a color */
$default_link_color: #0969a4;

/*Reset.scss'teki Input font*/
$input_font: $font_primary;

/*
* Media query size variable
*/
$grid_width 	: 1024px;
$tablet			: 992px;
$phablet		: 767px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;